body{
    
    display:flex;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    flex-direction: column;
    min-height:100vh;
}
.container{
    flex:1;
}
/* Navbar */
.navbar-name{
    font-size: small;
    margin-bottom: 20px !important;
}
.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}
.navbar-nav a:hover{
    font-weight: 400;
    background-color:#f78c93;
    /* border-radius: 10px; */
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width:100%;
    margin-top: 10px;
    display:flex;
    align-items:center;
    justify-content: center;
    color: #222222;
}
.f-info-socials i{
    margin-right:1rem;
    font-size:2.2rem;
}
.f-info{
    text-align: center;
    height:10rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}

/* Cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem

}
.card-img-top{
    border-radius: 1rem !important;
    width :100% !important;
    object-fit:cover !important;


}
.card-body{
    padding:0 !important;

}
.card-text p{
    font-weight: 400 !important;

}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color:#fe424d !important;
    border: none !important;
}

/* showpage */
.show-img{
    height:30vh !important;
    
}
.btns{
    display:flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* edit */
.edit-btn{
    background-color:#fe424d !important;
    border: none !important;
}

/* Map */
#map{
    height: 400px;
    width:80vh;
}